<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jkl.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.example.jkl.pojo.Store">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="seller_id" jdbcType="INTEGER" property="sellerId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>