<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jkl.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.jkl.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="INTEGER" property="openId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="u_img" jdbcType="VARCHAR" property="uImg" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="tel" jdbcType="INTEGER" property="tel" />
    <result column="last_money" jdbcType="DOUBLE" property="lastMoney" />
    <result column="is_admin" jdbcType="SMALLINT" property="isAdmin" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>